*{
    margin: 0;
    padding: 0;
}

/* animation up */
@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
    
    /* .block{
        animation: appear linear;
        animation-timeline: view();
            animaton-range: entry 0% cover 40%;
        } */

        
    }
    body{
        /* overflow-x: auto; */
        overflow-y: scroll;
        overflow-x: hidden;
        /* overflow-y: hidden; */
        /* background-size: cover; */
        background-position: center;
        background-repeat: no-repeat;
        transition: background-image 1s ease;
        
       
        /* background-color: black;
        opacity: 0.8;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0; */
        
    }
    @keyframes appear {
        from{
            opacity: 0%;
            clip-path: inset(100% 100% 0 0);
        }
        to{
            opacity: 1;
            clip-path: inset(0 0 0 0);
        }
        
    }
    .background{
        background-color: black;
        opacity: 0.9;
        filter: brightness(25%);
        min-width: 100%;
        min-height: 100%;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
    }

    .navbar{
        display: flex;
        justify-content: flex-end;
        background-color: rgb(255, 0, 0,); /* Semi-transparent background */
        /* backdrop-filter: blur(100px); Adjust the blur level as needed */
        
    }
    .navbar a{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: rgb(0, 0, 0);
        width: 100px;
        text-align: left;
        text-wrap: nowrap;
        padding: 0 0 0 10px;
        font-family: "Architects Daughter", cursive;
        font-weight: 400;
        font-style: bold;
        /* justify-self: center; */
        justify-content: center;
    }
    .nav-item img{
        width: 30px;
        /* padding: 5px; */
        /* padding-top: 5px; */
        margin-top: 7px;
        
    }
    .nav-item:hover{
        background-color: rgba(94, 80, 80, 0.35);
    }
    #icon{
        margin-top: -9px;
    }
    #icon img{
        width: 100px;
        height: auto;
    }
    /* crop the image, usme white part zyada hai neeche */
    .navbar a:first-child{
        margin-top: auto;
        margin-right: auto;
        width: 150px;
        /* background-color: red; */
    }
    #nav-item-9 img{
        /* top: 5px; */
        width: 25px;
    }
    /* #loginBtn{
        width: 70px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        align-self: center;
    } */
    body:hover > #trailer {
        opacity: 0.3;
    }
    
    #trailer {
        height: 20px;
        width: 20px;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 99;
        
        pointer-events: none;
        opacity: 0;
        transition: opacity 500ms ease;
        
        box-shadow: 0px 0px 50px 40px rgb(255, 255, 255);
        
        display: grid;
        place-items: center;
        
    }

#text-container{
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left: 20px;
    top: 50vh;
        transform: translateY(-50%);
        text-align: left;
    }
    .main-heading, .sub-heading h1,h2{
        margin: 0;
        opacity: 0;
        animation-fill-mode: none;
    }
    #main-heading{
        color: white;
        font-size: 3rem;
    }
    #sub-heading{
        font-size: 2rem;
        color: white;
    }
    .main-heading h1{
        margin: 0;
        color: rgb(255, 255, 255);
        opacity: 0.8;

    }
    .sub-heading h2{
        margin: 0;
        opacity: 0.6;
        color: rgba(255, 255, 255, 0.746);
    }
    /* h1:hover{
        color: black;
        font-size: 3.7rem;
    } */


/* Scroll-up-in animation */
@keyframes scrollUpIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

    /* For heading */
    @keyframes scrollUpOut{
        0%{
            transform: translateY(0);
            opacity: 5;
        }
        100%{
            transform: translateY(-20px);
            opacity: 0;
        }
    }
    @keyframes scrollUpIn{
        0%{
            transform: translateY(20px);
            opacity: 0;
        }
        100%{
            transform: translateY(0);
            opacity: 0.8;
        }
    }
    /* For subheading */
    @keyframes scrollUpOutSub{
        0%{
            transform: translateY(0);
            opacity: 0.6;
        }
        100%{
            transform: translateY(-20px);
            opacity: 0;
        }
    }
    @keyframes scrollUpInSub{
        0%{
            transform: translateY(20px);
            opacity: 0;
        }
        100%{
            transform: translateY(0);
            opacity: 0.6;
        }
    }

    .black{
        border: 2px solid black;
        background-color: black;
        color: rgb(255, 255, 255);
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: smaller;
        /* margin: 10px 0px 10px 0px; */
    }
    .black p{
        margin-left: 20px;
    }
    .introstart{
        margin-top: 120px;
    /* left: 39%; */
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-size: 30px;
    color: #292828c9;
    display: flex;
    justify-content:center;
    align-items: center;
    animation: pop linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.introstart img{
    height: 300px;
    padding: 20px;
    
}
#img1{
    animation: left linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}
#img2{
    animation: right linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}
.indent p{
    text-indent: 20px;
    margin-top: 20px;

}
@keyframes left{
    from{
        opacity: 0%;
        scale: 0.5;
        transform: translateX(-100px);
    }
    to{
        opacity: 100%;
        scale: 1;
        transform: translateX(0px);
    }
}
@keyframes right{
    from{
        opacity: 0%;
        transform: translateX(100px);
        scale: 0.6;
    }
    to{
        opacity: 100%;
        transform: translateX(0px);
        scale: 1;
    }
}
@keyframes pop {
    from{
        opacity: 0%;
        /* scale: 0.7; */
    }
    to{
        opacity: 100%;
        /* scale: 1; */

    }
    
}

@keyframes appear {
    from{
        opacity: 0%;
        clip-path: inset(100% 100% 0 0);
    }
    to{
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}
@keyframes pop2 {
    from{
        opacity: 0%;
        scale: 0.7;
    }
    to{
        opacity: 100%;
        scale: 1;

    }
    
}

    .introc, .gno, .mnv, .testimonials, .about{
        animation: pop2 linear;
        animation-timeline: view();
        animation-range: entry 0% cover 30%;
    }
    .foot{
        animation: pop2 linear;
        animation-timeline: view();
        animation-range: entry 0% cover 15%;
    }
    .introc h1{
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        margin: 20px;
        display: flex;
        position: relative;
        top: 15px;
        margin-bottom: 40px;
        font-size: 50px;
        
        left: 37%;
        /* display: block; */

    }
    .introc p{
        color: #00000082;
        margin: 20px;
        margin-left: 100px;
        margin-right: 100px;
        /* font-family:'Courier New', Courier, monospace; */
        /* font-weight: bold;         */
        font-size: large;
        line-height: 170%;
        font-family: Arial, Helvetica, sans-serif;
    }
    .introc ::selection{
        color: black;
        
    }
    .gno{
        margin-top: 100px;
    }
    .gno h1{
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        margin: 20px;
        display: flex;
        position: relative;
        top: 15px;
        margin-bottom: 40px;
        font-size: 50px;
        left: 30%;
        /* display: block; */

    }
    .gno p{
        color: #00000082;
        margin: 20px;
        margin-left: 100px;
        margin-right: 100px;
        /* font-weight: bold; */
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;

    }
    .gno ::selection{
        color: black;  
    }

    .mnv{
        padding: 40px;
    }
    .mnv h1{
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        margin: 20px;
        display: flex;
        position: relative;
        top: 15px;
        font-size: 50px;
        margin-bottom: 40px;
        left: 32%;
    }
    .mnv table a{
        text-decoration: none;
        color: #000000ba;
        cursor: default;
        display: flex;
        margin: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: italic;

    }
    .mnv table p{
        margin-left: 20px;
        color: #000000ad;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .mnv table img{
        margin-right: 5px;
        height: 20px;
    }
    .mnv td{
        width: 50%;
        padding: 20px;
    }
    .mnv ::selection{
        color: black;  
    }
    .testimonials{
        /* border: 2px solid black; */
    }
    .testimonials h1{
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        margin: 20px;
        display: flex;
        position: relative;
        top: 15px;
        margin-bottom: 40px;
        font-size: 50px;

        left: 35%;
    }
    .card{
        margin: 20px;
        display: flex;
        background-color: black;
        padding: 20px;
        border-radius: 20px;
        width: 80vw;
    }
    .card img{
        height: 260px;
        margin-left: 80px;
    }
    .card p{
        /* color: #000000ad; */
        color: rgba(255, 255, 255, 0.915);

        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 30px;
    }
    .card span{
        font-size: 30px;
        color: white;
    }
    #cardslider{
        display: flex;
        scroll-behavior: smooth;
        width: calc(100vw*5);
        animation: slide 100s linear alternate infinite;
    }
    @keyframes slide{
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(-500vw);
        }
    }
    #cardslider:hover{
        animation-play-state: paused;
    }

    .about{
        display: flex;
        position: relative;
        flex-wrap: wrap;

    }
    .about h1{
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        margin: 20px;
        display: flex;
        position: relative;
        top: 15px;
        font-size: 50px;
        margin-bottom: 40px;
        /* left: 2%; */
        color: black;
    }
    .about img{
        height: 250px;
        display: block;
    }
    .about p{
        color: #00000082;
        margin: 20px;
        margin-left: 100px;
        margin-right: 100px;
        /* font-weight: bold; */
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
    }
    .about p::selection{
        color: black;
    }

    #box1 h1{
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        margin: 20px;
        /* display: flex;? */
        position: relative;
        top: 15px;
        font-size: 20px;
        margin-bottom: 40px;
        /* left: 2%; */
        color: rgba(0, 0, 0, 0.808);
        border: 2px solid black;
        border-radius: 4px;
        width: 10vw;
        display: inline-block;
        padding: 40px;
        left: 10%;
    }
    #box2 h1{
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        margin: 20px;
        /* display: flex;? */
        position: relative;
        top: 15px;
        font-size: 20px;
        margin-bottom: 40px;
        /* left: 2%; */
        color: rgba(255, 255, 255, 0.71);
        background-color: black;
        border: 2px solid black;
        display: inline-block;
        padding: 40px;
        left: 50%;
    }